@media screen and (max-width: 576px) {

	.brand {
		font-size: 1.5rem;
	}

	.link {
		position: absolute;
		right: -100%;
		padding-top: 3rem;
		background-color: #eee;
		
	}

	.menu {
		display: block;
	}

	.link ul {
		display: block;
		height: 100vh;
	}

	.main {
		max-width: 100%;
	}

	.main > h2 {
		font-size: 1.5rem;
		line-height: 1.5rem;
		text-align: center;
	}

	.main > button {
		
	}


}

@media screen and (max-width: 741px) {
	.brand {
		font-size: 1.6rem;
	}
}