*,
html,
body {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
}

body {
	font-family: 'Ubuntu', sans-serif;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

:root {
	--primary: rgb(255, 140, 0);
	--blck: rgb(0, 0, 0);

}

/*Style Start*/

header {
	display: flex;
	justify-content: space-between;
	position: fixed;
	left: 0;
	right: 0;
	padding: 1rem 5%;
	padding-right: 10%;
	box-sizing: border-box;
	background-color: #eee;
	border-bottom: .1rem solid var(--primary);
}

.brand {
	font-size: 2rem;
	font-weight: 600;
}

.brand span {
	color: var(--primary);
}

.link {
	display: flex;
	justify-content: center;
	align-items: center;
}

.link ul {
	display: flex;
	justify-content: center;
	align-items: center;

}

.link ul li a {
	display: block;
	color: black;
	font-size: 1.3rem;
	padding: 0 1.5rem;
	text-transform: capitalize;
}

.link ul li a:hover {
	color: var(--primary);
}

.link ul li a::after {
	content: '';
	display: block;
	margin: 0 auto;
	width: 70%;
	transform: scale(0);
	transition: .2s ease;
	border-bottom: 2px solid var(--primary);
}

.link ul li a:hover::after {
	transform: scale(1);
}

.menu {
	display: none;
}


.link.show-menu {
		position: absolute;
		width: 40%;
		right: 0;
		transition: .5s ease;
		z-index: -1;
}

.link.show-menu ul li a {
	font-size: 1rem;
	padding: 1.1rem;
}

.link.show-menu ul li a:hover::after {
	display: block;
	margin-left: 0;
}


/*Responsive*/

@media screen and (max-width: 576px) {

	.brand {
		font-size: 1.5rem;
	}

	.link {
		position: absolute;
		right: -100%;
		padding-top: 3rem;
		background-color: #eee;
		
	}

	.menu {
		display: block;
	}

	

	.link ul {
		display: block;
		height: 100vh;
	}
}

@media screen and (max-width: 741px) {
	.brand {
		font-size: 1.6rem;
	}
}