*,
html,
body {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
}

body {
	font-family: 'Ubuntu', sans-serif;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

:root {
	--primary: rgb(255, 140, 0);
	--blck: rgb(0, 0, 0);

}

/*header style start*/

header {
	display: flex;
	justify-content: space-between;
	position: fixed;
	left: 0;
	right: 0;
	padding: 1rem 5%;
	padding-right: 10%;
	box-sizing: border-box;
	background-color: #eee;
	border-bottom: .1rem solid var(--primary);
	z-index: 9999;
}

.brand {
	font-size: 2rem;
	font-weight: 600;
}

.brand span {
	color: var(--primary);
}

.link {
	display: flex;
	justify-content: center;
	align-items: center;
}

.link ul {
	display: flex;
	justify-content: center;
	align-items: center;

}

.link ul li a {
	display: block;
	color: black;
	font-size: 1.3rem;
	padding: 0 1.5rem;
	text-transform: capitalize;
}

.link ul li a:hover {
	color: var(--primary);
}

.link ul li a::after {
	content: '';
	display: block;
	margin: 0 auto;
	width: 70%;
	transform: scale(0);
	transition: .2s ease;
	border-bottom: 2px solid var(--primary);
}

.link ul li a:hover::after {
	transform: scale(1);
}

.menu {
	display: none;
}


.link.show-menu {
		position: absolute;
		width: 40%;
		padding: 3rem 7%;
		right: 0;
		transition: .5s ease;
		z-index: -1;
}

.link.show-menu ul li a {
	font-size: 1rem;
	padding: 1.1rem;
}

.link.show-menu ul li a:hover::after {
	display: block;
	margin-left: 0;
}


/*Header Style End*/

/*Home Style Start*/


section {
	display: flex;
	height: 100vh;
}

#home {
	display: flex;
	background-image: url('../img/m.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	box-sizing: border-box;
}

.wrap {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .3);

}

.main {
	display: flex;
	flex-direction: column;
	margin-left: 10%;
	position: absolute;
	top: 25%;
	width: 60%;
}

.main > h2 {
	color: white;
	font-size: 2rem;
	line-height: 3rem;
	letter-spacing: 3.5px;
}

.main > button {
	display: flex;
	justify-content: center;
	align-items: center;
	background: transparent;
	backdrop-filter: blur(.4rem);
	width: 7rem;
	padding: 1rem;
	margin-top: 1.5rem;
	margin-left: 1.5%;
	border-radius: 20px;
	color: white;
	font-size: 1.2rem;
	font-weight: 600;
	text-transform: capitalize;
	border: .7px solid var(--primary);
	box-shadow: 1px 1px 7px var(--blck);
	cursor: pointer;
	transition: .5s;
}

.main > button:hover {
	background: var(--primary);
}
/*Home Style End*/

/*Product Style Start*/

#product {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	background-color: #fff;
	padding: 20px;
}

#product > p {
	display: block;
	margin: 3% auto 0;
	text-align: center;
	font-size: 1.8rem;
	font-weight: bold;
	line-height: 3rem;
	letter-spacing: 3px;
	color: var(--primary);
}

.collection {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 5% auto;
	width: 100%;
	box-sizing: border-box;
}

.collection img {
	width: 200px;
	height: 200px;
	border: .5px solid var(--primary);
	border-radius: 100%;
	box-shadow: 1px 1px 7px;
	transition: .3s ease;
}

.collection img:hover {
	transform: scale(1.2);
}


/*Product Style End*/