*, body, html {
	margin: 0;
	padding: 0;
	
}

body {
	position: relative;
	height: 120vh;
	background-image: url(assets/img/gedung.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	font-family: sans-serif;
}

.black {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, .4);
	background-size: cover;
	background-position: center;
}

.container {
	position: relative;
	top: 12px;
	left: 0;
	right: 0;
	width: 390px;
	margin: auto;
	padding: 40px;
	padding-bottom: 5px;
	box-sizing: border-box;
	border-radius: 50px;
	box-shadow: 1px 1px 50px black;
	border: 0.2px solid darkorange;
	animation-name: fade-in;
	animation-duration: 3s;
	animation-timing-function: ease-out;


}

.quote {
	padding-top: 80px;

}

.quote > h3 {
	color: white;
	font-size: 25px;
	letter-spacing: 2px;
	text-transform: capitalize;
}

.quote > h3::after {
	display: flex;
	content: " ";
	width: 40%;
	height: 100%;
	border-bottom: 3px solid darkorange;
	animation: line 2s alternate infinite;
}

@keyframes line {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.login-profile {
	width: 70px;
	height: 70px;
	padding: 5px;
	margin: auto;
	margin-top: 10px;
	background-image: url('assets/img/cute.gif');
	background-size: cover;
	background-position: center;
	border-radius: 100%;
	box-shadow: 1px 1px 10px darkorange;
}

.login-profile:hover{
	width: 75px;
	height: 75px;
	transform: scale(1.2);
	transition: .5s ease all;
}


.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 20px;
	width:100%;
	box-sizing: border-box;
}

.form > input {
	outline: none;
	display: flex;
	margin-top: 10px;
	padding: 18px;
	border-radius: 50px;
	border: none;
	background-color: rgba(255, 140, 0, .75);

}

.form > input::placeholder {
	color: white;
	font-size: 18px;
	letter-spacing: 2px;

}
.form > input:focus {
	font-size: 18px;
	color: darkorange;
	background-color: transparent;
	border: 1px solid darkorange;
	box-shadow: 1px 1px 10px darkorange;
}

.form > input:focus::placeholder {
	color: darkorange;
}

.check {
	color: white;
	display: flex;
	margin-left: 5px;
	margin-top: 25px;
	letter-spacing: 2px;
}
.check > label {
	display: flex;
	margin-left: 5px;
}

.ask {
	display: flex;
	justify-content: center;
	padding-top: 10px;
}

.ask > p {
	color: white;
	margin-left: 5px;
	letter-spacing: 2px;
	font-size: 15px;
	font-weight: 500;	
}
.ask > p > a{
	text-decoration: none;
	color: darkorange;
}

.ask > p > a:hover{
	text-decoration: none;
	color: darkorange;
	font-size: 18px;
	transition: .3s all ease-in-out;
}
.button {
	display: flex;
	justify-content: center;
	margin: 35px auto;
	margin-bottom: 10px;
}

.button > button {
	border: none;
	box-shadow: 1px 1px 5px darkorange;
	display: flex;
	padding: 12px;
	border-radius: 50px;
	font-size: 20px;
	text-transform: capitalize;
	font-weight: 550;
	color: white;
	background-color: darkorange;
	cursor: pointer;
}
.button:hover {
	transform: scale(1.2);
	transition: all .2s ease;

}
.create {
	display: flex;
	justify-content: center;
	padding: 10px;
	margin-bottom: 10px;
}

.create > p {
	color: white;
	margin-left: 5px;
	letter-spacing: 2px;
	font-size: 10px;
	font-weight: 500;
}

.create > p > a {
	padding: 3px;
	text-decoration: none;
	color: darkorange;
	transition: .2s all ease-in-out;
}
.create > p > a:hover {
	text-decoration: none;
	color: white;
	background-color: darkorange;
	border-radius: 25px;
	font-size: 12px;
}